<%- include('partials/header') -%>
<div class="grid-container">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <h2><%= destination.location %></h2>
        <img class="img-fluid no-hover" src="<%= destination.image%>" />
        <div class="row justify-content-between">
            <span>Post by: <%=destination.postedBy%> </span>
          <div class="col-3"></div>
          <%if(destination.user == user.id){ %>
          <form
            action="/destination/deleteDestination/<%= destination.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          > 
            <button class="btn btn-primary fa fa-trash trash-align" type="submit"></button>
          </form>
          <%}%> 
        </div>
      </div>
    </div>
    <div class="center-btns">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
  <div class="description-container">
        <div class=" mt-5">
          <p>Local Language: <%= destination.localLanguage %></p>
        </div>
        <div class=" mt-5">
          <p>Local Currency: <%= destination.localCurrency %></p>
        </div>
        <div class="col-12 mt-5">
          <p>Why I want to visit there: <%= destination.reason %></p>
        </div>
      </div>
  </div>
<%- include('partials/footer') -%>
